<h3><%= @excursion.name %></h3>

<p>Description of Tour: <%= @excursion.description%></p>
<p>Length of Tour: <%= @excursion.days_duration%></p>

<h1> Places in Excursion</h1>
<% @places.each do |place| %>
  <p>Name: <%= place.name %></p>
  <p>Description:<%= place.description %></p>
  <p>Activities:<%= place.activities %> </p>
  <%end%>
<% if Helpers.current_user(session) == @excursion.user %>
<a href="/excursions/<%=@excursion.id%>/edit">Edit Excursion</a>
<a href="/users/<%= Helpers.current_user(session).id%>">Back to your Excursions</a>

<form action="/excursions/<%=@excursion.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete"> 
  <input type="submit" value="delete">
</form>
<%end%>