<h3><%= @excursion.name %></h3>

<p><strong>Description of Tour:</strong> <%= @excursion.description%></p>
<p><strong>Length of Tour:</strong> <%= @excursion.days_duration%></p>

<h1> Places in Excursion</h1>
<% @places.each do |place| %>
  <p><strong>Name:</strong> <%= place.name %></p>
  <p><strong>Description:</strong><%= place.description %></p>
  <p><strong>Activities:</strong><%= place.activities %> </p>
  <%end%>
<% if Helpers.current_user(session) == @excursion.user %>
<a href="/excursions/<%=@excursion.id%>/edit">Edit Excursion</a>
<a href="/users/<%= Helpers.current_user(session).id%>">Back to your Excursions</a>

<form action="/excursions/<%=@excursion.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete"> 
  <input type="submit" value="delete">
</form>
<%end%>